:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  background-color: rgb(47, 47, 47);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  scroll-behavior:smooth ;
  padding: 0;
  box-sizing: border-box;
}
